<div class='form-inline justify-content-between' id='select-timeframe-div'>
  <div class='input-group flex-fill'>
    <div class='input-group-prepend'>
      <span class='input-group-text' id='start-date-text'>
        Begin
      </span>
    </div>
    <input type="date" class='form-control' id='start-date-select' aria-label="Select Start Date">
    <input type="time" class='form-control' id='start-time-select' aria-label="Select Start Time">
  </div>
  <div class='input-group flex-fill'>
    <div class='input-group-prepend'>
      <span class='input-group-text' id='end-date-text'>
        End
      </span>
    </div>
    <input type="date" class='form-control' id='end-date-select' aria-label="Select End Date">
    <input type="time" class='form-control' id='end-time-select' aria-label="Select End Date">
  </div>
</div>
