<div id="warning-alert" class="alert alert-warning alert-dismissible fade collapse" role="alert">
  <span id="show-warning-msg" class="user-message-disp">
    <p><%= war ||= "Something went wrong" %></p>
  </span>
  <button id="btn-error-close" class="close close-notification" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
