<div id="error-alert" class="alert alert-danger alert-dismissible fade collapse" role="alert">
  <span id="show-error-msg" class="user-message-disp">
    <p>Something went wrong</p>
  </span>
  <button id="btn-error-close" class="close close-notification" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
