<% content_for :navigation do %>
  <div class="navbar fixed-top navbar-default bg-light" id="page-header">
    <div class="container">
     <a class="navbar-brand" href="/">Page View Analysis</a>
    </div>
  </div>
<% end %>
