<div id="accordion" role="tablist">

  <div class="card">
    <div class="card-body">
      <%= render partial: 'input_files/form' %>
      <%= render partial: 'analyses/progress' %>
      <%= render partial: 'timeframes/form' %>
      <div class="row">
        <div id="notification-div" class="col col-md-12"></div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="performance-card">
      <h5 class="mb-0">
        <button id="render-server-performance" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#show-server-performance" aria-expanded="false" aria-controls="show-server-performance">
          Show Server Performance
        </button>
        <button class="refresh-graph btn btn-primary">
          Refresh
        </button>
      </h5>
    </div>
    <div id="show-server-performance" class="show-graph collapse" role="tabpanel" aria-labelledby="performance-card" data-parent="#accordion">
      <div class="card-body">
        <div id="server-performance-chart" class="graph" style="width: 100%; height: 400px;">
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="visits-card">
      <h5 class="mb-0">
        <button id="render-site-visits" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#show-site-visits" aria-expanded="false" aria-controls="show-site-visits">
          Show Site Visits
        </button>
        <button class="refresh-graph btn btn-primary">
          Refresh
        </button>
      </h5>
    </div>
    <div id="show-site-visits" class="show-graph collapse" role="tabpanel" aria-labelledby="visits-card" data-parent="#accordion">
      <div class="card-body">
        <div id="url-visits-chart" class="graph" style="width: 100%; height: 400px;">
        </div>
        <div id="blog-visits-chart" class="graph" style="width: 100%; height: 400px;">
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="usage-card">
      <h5 class="mb-0">
        <button id="render-site-usage" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#show-site-usage" aria-expanded="false" aria-controls="show-site-usage">
          Show Site Usage
        </button>
        <button class="refresh-graph btn btn-primary">
          Refresh
        </button>
      </h5>
    </div>
    <div id="show-site-usage" class="show-graph collapse" role="tabpanel" aria-labelledby="usage-card" data-parent="#accordion">
      <div class="card-body">
        <div id="site-usage-chart" class="graph" style="width: 100%; height: 400px;">
        </div>
      </div>
    </div>
  </div>

</div>
