<%= form_with model: [@analysis, InputFile.new], url: analysis_input_file_path(@analysis), method: :post, html: {multipart: true, class: 'form form-horizontal center', id: 'select-file-form'} do |form| %>
  <div class='input-group'>
    <div class="custom-file">
      <label class="custom-file-label" for="customFile" id="inputfile-label">Choose File</label>
      <%= form.file_field 'uploaded_file', {class: "custom-file-input", id: "customFile"} %>
      <div class='input-group-append'>
        <%= form.submit "Upload", {class: "btn btn-primary"} %>
      </div>
    </div>
  </div>
<% end %>
