<%= form_with model: InputFile.new, html: {multipart: true, class: 'form form-horizontal', id: 'input-file-form'} do |form| %>
  <div class='input-group'>
    <div class="custom-file">
      <%= form.file_field 'uploaded_file', {class: "custom-file-input", id: "input-file-group"} %>
      <label class="custom-file-label" for="input-file-group" id="input-file-label">Choose File</label>
    </div>
    <div class='input-group-append'>
      <%= form.submit "Upload", {class: "btn btn-primary"} %>
    </div>
  </div>
<% end %>
