<%= form_with model: @analysis.input_file, html: {multipart: true, class: 'form-horizontal center'} do |form| %>
  <div class='input-group'>
    <div class="custom-file">
      <label class="custom-file-label" for="customFile">Choose File</label>
      <input type="file" class="custom-file-input" id="customFile" name="file_field[uploaded_file]">
    </div>
    <div class='input-group-append'>
      <input type="submit" value="Upload" class="btn btn-primary">
    </div>
  </div>
<% end %>
