// Place all the styles related to the Analyses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#input-file-form {
  padding-bottom: 1em;
}

#select-timeframe-div {
  padding-top: 1em;
  padding-bottom: 1em;
}

.notification {
  strong {
    font-size: 15px;
  }
}

.refresh-graph {
  float: inline-end;
}
